<h1>New game</h1>
<h2>What is the longest word you can find?</h2>

<ul class="list-inline container">

  <% @letters.each do |letter|%>
    <li id="letter"> <%= letter %> </li>
  <% end %>

</ul>

  <form action="/score" method="post" class="form-inline">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag :original_letters, @letters.join %>
    <div class="form-group">
      <input type="text" name="word" class="form-control">
    </div>

    <button type="submit" class="btn btn-default">Play</button>

  </form>

